@font-face {
    font-family: customfont;
    src: url(dinmed.ttf);
}

body{
    font-family: customfont;
    margin: 0px;
    border: 0px;
    padding: 0px;
}

header{
    background-image: url(assets/servicebg.jpg);
    height: 70vh;
}

nav{
    position: fixed;
    width: 100%;
}

nav ul{
    list-style-type: none;
    text-align: center;
    background-color: #067bca;
    margin: 0px;
    padding-inline-start: 0px;
}

nav ul li{
    display: inline-block;
    padding: 15px 0px;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: large;
}

nav ul li a{
    padding: 15px 60px;
    text-align: center;
    color: white;
    font-family: customfont;
    font-weight: bold;
    text-decoration: none;
}

nav ul li a:hover{
    background-color: #075488;
    transition: 700ms;
}

nav.fekete ul{
    background: black;
    transition: 0.7s;
}

#main{
    display: flex;
    justify-content: center;
    padding: 90px;
    text-align: center;
}

table{
    border-spacing: 10px;
}

tr{
    width: 100%;
}

td{
    width: 60vh;
    background-color: #067bca;
    border-radius: 10px;
    border: black solid 1px;
}

td:hover{
    -webkit-transition-duration: 0.7s;
	transform: translateY(-10px);
}

#perks{
    list-style-type: none;
    padding-top: 10px;
    padding-inline-start: 0px;
}

.van{
    font-size: larger;
}

.nincs{
    font-size: larger;
}

.van:before{
    content: " ✓ ";
}

.nincs:before{
    content: " ✗ ";
}

#gomb1{
    width: 150px;
	height: 50px;
	margin-left: 20px;
    font-size: 25px;
    border-radius: 50px;
    border: black solid 2px;
    cursor: pointer;
	transition: 700ms;
    font-family: customfont;
    font-weight: 550;
    background-color: #3691f8;
    margin: 20px;
}